<div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/dashboard">Romanian Workers</a>
        </div>

        <ul class="sidebar-menu">

            <li class="nav-item dropdown active">
                <a href="/dashboard" class="nav-link">
                    <i data-feather="home"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sidebar-menu-caption">User Management</li>

            <li class="nav-item">
                <a class="nav-link" href="/users">
                    <i data-feather="user"></i>
                    <span>Manage users</span>
                </a>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link" href="/ticket">
                    <i data-feather="user"></i>
                    <span>Support</span>
                </a>
            </li> -->

            <li class="sidebar-menu-caption">Support</li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
                    <i data-feather="help-circle"></i>
                    <span>Manual Tickets</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="nav-link" href="/pending-tickets">Pending Tickets</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/resolved-tickets">Resolved Tickets</a>
                    </li>
                </ul>
            </li>

        </ul>
    </aside>
</div>