<div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/dashboard">My Book Publishers</a>
        </div>

        <ul class="sidebar-menu">

            <li class="nav-item dropdown active">
                <a href="/dashboard" class="nav-link">
                    <i data-feather="home"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sidebar-menu-caption">User Management</li>

            <li class="nav-item">
                <a class="nav-link" href="/users">
                    <i data-feather="user"></i>
                    <span>Manage users</span>
                </a>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link" href="/ticket">
                    <i data-feather="user"></i>
                    <span>Support</span>
                </a>
            </li> -->

            <li class="sidebar-menu-caption">Payment and Payout</li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
                    <i data-feather="database"></i>
                    <span>Manual payments</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="nav-link" href="/create-payments">Create Payment</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/pending-payments">Pending payments</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/accepted-payments">Accepted payments</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
                    <i data-feather="package"></i>
                    <span>Manage Plans</span>
                </a>
                <!-- <ul class="dropdown-menu">
                    <li>
                        <a class="nav-link" href="/withdraw-pending">Pending withdraws</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/withdraw-rejected">Rejected withdraws</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/withdraw-accepted">Accepted withdraws</a>
                    </li>
                </ul> -->
            </li>

        </ul>
    </aside>
</div>